//* Variables *//

$color-one: #b8bac8;
$color-two: #aa78a6;
$color-three: #b4d6d3;
$color-four: #0D0B0B;
$font-title: 'Lato', sans-serif;
$font-body: 'Biryani', sans-serif;
$font-header: 'Questrial', sans-serif;

//* Body*//

body {
    background-color: $color-three;
}

.column {
    display: inline-block;
    width: 700px;
}

//* Header *//

h1, {
    font-family: $font-title;
    font-weight: 900;
    margin-top: 5px;
    color: $color-two;
}

h2 {
    font-family: $font-header;
    margin-bottom: 0;
    color: $color-two;
}

p {
    font-family: $font-body;
    font-size: 14px;
    text-align: justify;
    color: $color-four;
}

span {
    font-weight: 600;
}

.column {
    padding: 30px;
}

.rules {
    max-width: 650px;
}

//* Buttons *//

.btn {
   font-size: 48px; 
   background-color: $color-one;
   color: $color-two;
   border-radius: 5%;
   border-style: none;
   padding: 20px;
   margin: 50px 10px;
   font-family: $font-header;
   font-weight: 900;
}

.wrapper {
    display: flex;
}

.btn-box {
    display: inline-block;
}

//* Media *//

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .wrapper {
        display: flex;
    }
    .btn-box {
       
    }
    .column {
        padding: 0 10px;
   
    }
    .btn {
        font-size: 18px;
        margin: 20px 5px;
        padding: 12px 8px;
    }
    
    h1 {
        font-size: 24px;
        margin-top: 0;
    }
    
    h2 {
        font-size: 18px;
    }

    .text {
        font-size: 12px;
        width: 250px;
    }

}    